<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <th:block th:each="msg : ${messages}">
        <h1 th:text="${msg}"></h1>
    </th:block>
</div>
<h2><a href="/hello/cars"> >>> Cars <<<</a></h2>
<h2><a href="/hello/cars?count=0">cars?count=0</a></h2>
<h2><a href="/hello/cars?count=1">cars?count=1</a></h2>
<h2><a href="/hello/cars?count=2">cars?count=2</a></h2>
<h2><a href="/hello/cars?count=3">cars?count=3</a></h2>
<h2><a href="/hello/cars?count=4">cars?count=4</a></h2>
<h2><a href="/hello/cars?count=5">cars?count=5</a></h2>
<h2><a href="/hello/cars?count=6">cars?count>=6</a></h2>

</body>
</html>